<article>
  <header class="center">
    <h1>Gloria Marie Alcantara</h1>
  </header>
</article>
<table class="center">
  <tr>
    <td><button type="button" onclick="alert('HI')">HI</button></td>
    <td><button type="button" onclick="alert('HI')">HI</button></td>
  </tr>
  <tr>
    <td><button type="button" onclick="alert('HI')">HI</button></td>
    <td><button type="button" onclick="alert('HI')">HI</button></td>
  </tr>
  <tr>
    <td><button type="button" onclick="alert('HI')">HI</button></td>
    <td><button type="button" onclick="alert('HI')">HI</button></td>
  </tr>
</table>


